.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
    'header header'
    'navBar content';

}

.header {
    grid-area: header;
    background-color: lightgrey;
}

.navBar {
    grid-area: navBar;
}

.content {
    grid-area: content;
    background-color: aliceblue;

}